# ===============================
# Oracle SQL and PL/SQL
# ===============================
*.zip
oracle-db-examples
*.ini
sample-data/
*.csv
*.txt
*.xlsx
*.vsdx
*.docx
### VS Code ###
.vscode/
# ===============================
# Logs
# ===============================
*.log