```gitignore
###############################################################################
# Maven
###############################################################################

target/

###############################################################################
# Java
###############################################################################

*.class
*.jar
*.war
*.ear
*.jmod
*.log
hs_err_pid*
replay_pid*

###############################################################################
# VS Code
###############################################################################

.vscode/
!.vscode/extensions.json

###############################################################################
# IntelliJ IDEA
###############################################################################

.idea/
*.iml

###############################################################################
# Eclipse
###############################################################################

.project
.classpath
.settings/

###############################################################################
# NetBeans
###############################################################################

nbproject/private/
build/
nbbuild/
dist/
nbdist/

###############################################################################
# macOS
###############################################################################

.DS_Store

###############################################################################
# Windows
###############################################################################

Thumbs.db
Desktop.ini

###############################################################################
# Temporary files
###############################################################################

*.tmp
*.temp
*.swp
*~

###############################################################################
# Maven Wrapper (ignore only generated JAR)
###############################################################################

.mvn/wrapper/maven-wrapper.jar
```
###############################################################################
# github
###############################################################################
.github/